.app-container {
  width: 100%;
  max-width: 480px;

  margin: auto;

  min-height: 100vh;

  position: relative;

  padding-bottom: 120px;
}

.topbar {
  padding:
    calc(env(safe-area-inset-top) + 20px)
    20px
    24px;
}

.logo-title {
  font-size: 1.8rem;
  font-weight: 800;

  letter-spacing: -1px;
}

.logo-subtitle {
  color: var(--text-secondary);
  margin-top: 6px;
  font-size: 0.9rem;
}

.view-container {
  padding:
    0 20px
    140px;
}